<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Titanic - Você Sobreviveria?</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<div class="dados">
  <form action="{{ url_for('main') }}" method="POST">
    <fieldset>
      <legend id="titulo_entrada">Entrada dos Dados:</legend><br>

      <label for="Pclass" id="classe_txt">Classe do Passageiro</label>
      <select name="Pclass" type="number" id="classe_botao" required>
        <option value="1">1º Classe</option>
        <option value="2">2º Classe</option>
        <option value="3">3º Classe</option>
      </select>


      <br>
      <br>

      <label for="Sex" id="gen_txt" >Gênero do Passageiro:</label>
      <select name="Sex" type="number" id="gen_botao" required>
        <option value="10">Masculino</option>
        <option value="20">Feminino</option>
      </select>

      <br>
      <br>

      <label for="Embarked" id="embarq_txt">Estação de Embarque:</label>
      <select name="Embarked" type="number" id="embarq_botao" required>
        <option value="10">Cherburgo - França</option>
        <option value="20">Queenstown - Nova Zelândia</option>
        <option value="30">Southampton - Reino Unido</option>
      </select>

      <br>
      <br>

      <input type="submit" value="Testar Sobrevivência" id="botao">

    </fieldset>
  </form>
  <br>
  <p id="resultado">Resultado: <br></p>
  {{ result }}
  {{ endif }}
</div>

<script src="js/vendor/modernizr-3.11.2.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>
